*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* main style */


.logo h2{
    font-size: 45px;
    font: weight 900px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
    
}

.btn{
   background-color: #FD6E0A;
   border: none;
   padding: 10px;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
   color: whitesmoke;
   cursor: pointer;
   

}

.section-heading{
   max-width: 827px;
   text-align: center;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;


}


.section-heading P{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}




.color-orange{
    color: #FD6E0A;
    
}
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    padding-top: 50px;

  
}


nav{
    width: 71%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner content{
    
}
.banner-btn{
    display: flex;
    gap: 10px;
}

#banner .banner content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}


#banner .banner content p{

    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;


}



#about{
     padding-top: 130px;
}


#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}


#about .about-container .about-info{

    display: flex;
    justify-content: space-around;

}

.about-info .info-card p{
 font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4{
    font-size: 20px;
}